body {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 22px;
    background-image: url("pictures/background.jpg");

    /* Removes Borders from page  */
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

header {
    background: rgb(104, 29, 29);
    padding: 5px 20px 5px 20px;
}

h1 {
    font-size:150%;
}

div.aboutMeText {
    font-size: 30px;
}

section.feature-box.main {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

section.feature-box.aboutMe {
    padding: 30px;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
}

section.feature-box.contact {
    padding: 400px;
    display: flex;
    flex-direction: row;
}
section.Projects-box {
    background-image: url("pictures/background.jpg");
    padding: 30px;
    padding-bottom: 4%;
}

.line {
    background: rgb(104, 29, 29);
    padding: 2px;
    margin-top: -20px;
}

.feature-box div {
    margin: auto;
    padding: 10px;
}

p.intro {
    line-height: 0.1;
    font-size: 30px;
    white-space: nowrap;
}

p.name {
    line-height: 0.1;
    font-size: 60px;
    white-space: nowrap;
}

.picture {
  border: 5px solid rgb(104, 29, 29);
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 195px;
}

.pictureBig {
  border: 5px solid rgb(104, 29, 29);
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-top: -85px;
  margin-bottom: 160px;
  margin-left: 5%;
}

section.feature-box.aboutMe div.buttons {
    margin-top: -150px;
    margin-left: 120px;
    margin-bottom: auto;
}

section.feature-box div {
    margin-top: 10%;
    margin-left: 6%;
}

section.feature-box.main div.aboutMeButton {
    background:rgb(104, 29, 29);
    border-radius: 25px;
    width: 180px;
    /* margin-right: 350px; */
    /* margin-left: 150px; */
    text-align: center;
}

section.feature-box.main div.aboutMeButton:hover {
    transform: scale(1.2);
    background-color: gray;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display:inline-block;
    margin: 0px 20px 0px 0px;
    font-size: 18px;
}

ul.box li{
    display:inline-flex;
    margin: 10px 20px 0px 0px;
    font-size: 18px;
    padding: 5px;
    background: rgb(104, 29, 29);
}

ul.box img {
    height: 250px;
    width: auto;
}

details:hover {
    background-color: rgb(70, 5, 5);
}

ul.box li:hover {
    transform: scale(1.01);
}

footer {
    background: rgb(104, 29, 29);
    padding: 10px;
}

li:hover {
    background-color: gray;
}

a {
    text-decoration: none;
    color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}