body {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 22px;

    /* Removes Borders from page  */
    margin: 0;
    padding: 0;
}
header {
    background: rgb(104, 29, 29);
    padding: 5px 20px 5px 20px;
}
h1 {
    font-size:150%;
}
section.feature-box {
    background:lightslategray;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.feature-box div {
    margin: auto;
    padding: 10px;
}
.picture {
  height: 250px;
  width: 250px;
  background-image: url("pictures/profilePicture.png");
  border-radius: 50%;
}
section.feature-box.upper div {
    margin-left: 3%;
}
section.feature-box.lower div {
    background:rgb(104, 29, 29);
    margin-left: 5%;
    margin-top: -80px;
    border-radius: 25px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display:inline-block;
    margin: 0px 20px 0px 0px;
    font-size: 18px;
}
footer {
    background: rgb(104, 29, 29);
    padding: 10px;
}
li:hover {
    background-color: gray;
}
a {
    text-decoration: none;
    color: white;
}